.container {
    margin-bottom: 2em;
}

.btn-dark {
    margin-bottom: 2em;
}

.imgmain {
    width: 100%;
    filter: brightness(50%);
}

.imgmore {
    height: 100%;
    width: 100%;
}

.photo {
    width: 100%;
}

.imgjulia {
    height: 80%;
    width: 80%;
}

@font-face {
    font-family: MyFont;
    src: url(../fonts/MorrisRomanBlack.otf);
}

h1 {
    font-family: MyFont;
    font-size: 100px;
}

.transition {
    color: rgb(228, 228, 228);
    transition: left 10s ease-out;
    width: 100%;
    /*the hover off of the transition*/
}

.transition:hover {
    color: black;
    transition: 500ms linear;
    /*the first part of the transition*/
}

.imgtransition {
    transition: 500ms linear;
    filter: brightness(50%);
}

.imgtransition:hover {
    transform: scale(1.1);
    filter: brightness(100%);
}

.video {
    width: 100%;
}

.wrapper {
    display: table;
    width: auto;
    position: relative;
    width: 100%;
}

.playpause {
    background-image: url(../fonts/play.svg);
    background-repeat: no-repeat;
    width: 30%;
    height: 30%;
    position: absolute;
    left: 0%;
    right: 0%;
    top: 0%;
    bottom: 0%;
    margin: auto;
    background-size: contain;
    background-position: center;
}



/******************** FORM **********************/


input,
textarea {
    width: 100px;
    height: 20px;
}

form {
    width: 30%;
    padding: 2em;
}

textarea {
    resize: none;
    height: 50px;
}

input[type="checkbox"],
input[type="radio"] {
    display: inline-block;
}

.formsdiv {
    background-color: rgb(236, 236, 236);
    border-radius: 10px;
}


/******************** ANIMATION **********************/


.animadiv {
    width: 200px;
    height: 200px;
    border-radius: 20px;
    animation-name: move;
    animation-duration:5s;
    animation-delay: 1s;
    animation-fill-mode: both;
    margin-top: 4em;
    margin-right: 2em;
    animation-iteration-count: infinite;
    animation-direction:alternate-reverse;
    animation-timing-function: linear;
}


@keyframes move{
from { background-color: #D62900;
    transform: translateX(600px) scale(1.5);
}
to { background-color: #FFE15D;
}

}


